body {
    background-color: white;
    font-family: 'Macondo', cursive, sans-serif;
    color: #325082;
    text-align: center;
}

.heading {
    text-align: center;
}

.game-area {
    background-color: #C2F9FF;
    width: 70%;
    height:300px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    text-align: center;
}